annotated-types==0.7.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
dacite==1.9.2
docutils==0.21.2
filetype==1.2.0
idna==3.10
iniconfig==2.1.0
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
packaging==25.0
pillow==10.4.0
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.51
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.4.1
requests==2.32.4
rich==14.0.0
shellingham==1.5.4
textual==5.0.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
uc-micro-py==1.0.3
urllib3==2.5.0
wcwidth==0.2.13
